
@model IEnumerable<Music.Models.Album>

@{
    ViewBag.Title = "GenreSort";
}

<h2>@ViewBag.header</h2>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Albums/Details/@item.AlbumID">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>

        </tr>
    }

</table>